.card-container {
  display: flex;
  align-items: center;
  border: orange solid 4px;
  background-color: rgba(255, 201, 102, 0.25);
  border-radius: 15px;
  height: 95%;
  width: 100%;
  min-width: 100%;
}

.card-image {
  width: 10rem;
  height: 7rem;
  margin-left: 3%;
  object-fit: cover;
}

.card-details {
  margin-left: 2.5%;
}

.card-name {
  font-size: 22px;
  font-weight: bold;
}

.card-location {
  font-size: 18px;
}

.card-category {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 52em) {
  .card-image {
    width: 8rem;
    height: 5rem;
    object-fit: cover;
  }
  .card-name {
    font-size: 16px;
    font-weight: bold;
  }
 .card-location, .card-category {
  font-size: 12px
 }
}

