.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.567);
  color: rgb(0, 0, 0);
  margin-top: 6%;
  border-radius: 1rem;
}

.form {
  display: flex;
  margin: 20px;
  height: 30px;
  position: relative;
}

.input {
  display: flex;
}

.city-inp {
  padding: 0.2rem 1rem;
  border: solid 0px;
  border-right: 0px;
  width: 250px;
  resize: none;
}

.city-inp:focus {
  outline: orange solid 2px;
}

.search-icon {
  height: 29px;
  height: 67%;
  background-color: white;
  padding: 5px;
}

.search-clear {
  padding: 8px;
  position: absolute;
  right: 0;
  height: 14px;
}

.search-bar {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .form-container {
    flex-direction: column;
  }

  .city-inp {
    width: 250px;
  }

  .search-bar,
  .form-container {
    height: 45%;
  }

  .search-label {
    margin: 10px;
  }

  .search-icon {
    left: 0;
  }
}

@media screen and (max-width: 580px) {
  .form {
    width: 90%;
  }

  .city-inp {
    width: 90%;
  }
}