.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 60%;
  background-color: rgb(81 86 112);
  color: white;
  margin-top: 6%;
}

.form {
  display: flex;
  margin: 20px;
}

.input {
  display: flex;
}

.city-inp {
  border: solid 1px;
  border-right: 0px;
  height: 23px;
}

.search-icon {
  border: solid black 1px;
  height: 25px;
  background-color: white;
}

.search-bar {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
}