.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.form {
  display: flex;
}

.city-inp {
  border: solid 1px;
  border-right: 0px;
}

.search-icon {
  border: solid 1px;
  height: 20px;
  background-color: white;
}